<div class="jumbotron <%= "recommendation-#{recommendation.id}" %>">
  <div class="row">
    <div class="col-md-10">
      <h2 style="padding-left: 0;"><%= recommendation.title %></h2>
    </div>
    <div class="col-md-2">
      <% if user_signed_in? %>
        <% if current_user.following? recommendation %>
          <%= render "recommendations/unsave_recommendation_form", recommendation: recommendation %>
        <% else %>
          <%= render "recommendations/save_recommendation_form", recommendation: recommendation %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= recommendation.snippet.html_safe %>




      <button type="button" class="btn btn-primary" data-toggle="collapse"
        data-target="#<%= "recommendation-#{recommendation.id}-content" %>"
        aria-expanded="true" aria-controls="demo">
        See full document
      </button>

      <div id="<%= "recommendation-#{recommendation.id}-content" %>"
        class="collapse">
        <%= recommendation.content.html_safe %>
      </div>

      <p style="margin-top: 1em;"><strong>Related Topics</strong></p>
      <ul>
        <% recommendation.topics.each do |topic| %>
          <li>
            <p><%= link_to topic.name, answer_path(:query => topic.name) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
