.oval-wrapper.clearfix
  .nav-flex-container
    .logo
      = image_tag "logoWh.png", title: "You Do U"
    .link
      = link_to 'Home', root_path
    .link
      = link_to 'Social', '/social/index'
    .link
      = link_to 'Academic', '/academic/index'
    .link
      = link_to 'Events', '/event/show'
    .link
      = link_to 'About', '/about'

  %h2.slogan Your university, your way.

  .text-center
    .btn-group
      = link_to "Sign Up", new_user_registration_path,
        class: "btn btn-primary btn-lg"
      = link_to "Log In", new_user_session_path,
        class: "btn btn-primary btn-lg"

.red-wrapper.clearfix
  %h3.text-center What is You Do U?
  .block-container
    .block
      .iconmelon
        %svg{:viewbox => "0 0 32 32"}
          %use{"xlink:href" => "#user"}
      %h4 Interests
      %p Sign up and<br>specify your interests
    .block
      .iconmelon
        %svg{:viewbox => "0 0 32 32"}
          %use{"xlink:href" => "#search"}
      %h4 Search
      %p Find clubs and academic<br>activities based on your interests
    .block
      .iconmelon
        %svg{:viewbox => "0 0 32 32"}
          %use{"xlink:href" => "#star"}
      %h4 Participate
      %p Go out and enjoy the club or<br>activity recommended by You Do U

