<div class="container">
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="row text-center">
        <div class="row">
          <h3><%= @jsonData["title"] %></h3>
        </div>
        <div class="row">
          <p><%= @jsonData["blurb"] %></p>
        </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% unless @offers.empty? %>
        <%= render "offers" %>
      <% end %>

      <% unless @events.empty? %>
        <%= render "events" %>
      <% end %>

      <% unless @recommendations.empty? %>
        <%= render "recommendations" %>
      <% end %>
      
      <% unless @possible.empty? %>
        <%= render "more" %>
      <% end %>
    </div>
    

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Ask Another Question!</h2>
        <div class="text-center">
          <%= form_tag({controller: "answer", action: "index"}, method: :get, class: "form-inline") do %>
            <%= text_field_tag :query, nil, class: "form-control"  %>
            <%= submit_tag 'Ask', name: nil, class: "btn btn-primary ask-watson" %>
          <% end %>
        </div>
        <br/>
      </div>
    </div>
  </div>
</div><!-- /.row -->
</div><!-- /.container -->
