<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">

    <div class="row text-center">
        <div class="row">
          <h3><%= @jsonData["title"] %></h3>
        </div>
        <div class="row">
          <p><%= @jsonData["blurb"] %></p>
        </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading red-info" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Recommendations
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <% if @recommended == [] %>
                <div class="col-md-12 text-center">
                  <h3>Sorry but there doesn't seem to be anything here</h3>
                </div>
              <% else %>
                <% @recommended.each do |recommendation| %>
                  <div class="jumbotron">
                    <div class="row">
                      <div class="col-md-10">
                        <h2><%= recommendation["title"] %></h2>
                      </div>
                      <div class="col-md-2">
                        <% if user_signed_in? %>
                          <p><a class="btn my-btn btn-lg" role="button">Save</a></p>
                        <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <p><%= recommendation["content"].html_safe %></p>
                    </div>
                    <div class="row" >
                      <p><strong>Related Topics</strong></p>
                      <ul>
                        <% recommendation["relevantTo"].each do |topic| %>
                          <li>
                            <p><%= link_to topic, answer_path(:query => topic) %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading red-info" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Related Events
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <div class="row">
              <% if @events == [] %>
                <div class="col-md-12 text-center">
                  <h3>Sorry but there doesn't seem to be anything here</h3>
                </div>
              <% else %>
                <% @events.each do |event| %>
                  <div class="jumbotron">
                    <div class="row">
                      <div class="col-md-10">
                        <h2><%= event["name"] %></h2>
                        <h4><%= event["date"] %></h4>
                      </div>
                      <div class="col-md-2">
                        <p><a class="btn my-btn btn-lg" role="button">Save</a></p>
                      </div>
                    </div>
                    <div class="row">
                      <p><%= event["description"] %></p>
                    </div>
                    <div class="row" >
                      <p><strong>Related Topics</strong></p>
                      <ul>
                        <% event["relevantTo"].each do |topic| %>
                          <li>
                            <p><%= link_to topic, answer_path(:query => topic) %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading red-info" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              More Results
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="row">
              <% if @possible == [] %>
                <div class="col-md-12 text-center">
                  <h3>Sorry but there doesn't seem to be anything here</h3>
                </div>
              <% else %>
                <% @possible.each do |possibility| %>
                  <div class="jumbotron">
                    <div class="row">
                      <div class="col-md-10">
                        <h2><%= possibility["title"] %></h2>
                      </div>
                      <div class="col-md-2">
                        <p><a class="btn my-btn btn-lg" role="button">Save</a></p>
                      </div>
                    </div>
                    <div class="row">
                      <p><%= possibility["content"].html_safe %></p>
                    </div>
                    <div class="row" >
                      <p><strong>Related Topics</strong></p>
                      <ul>
                        <% possibility["relevantTo"].each do |topic| %>
                          <li>
                            <p><%= link_to topic, answer_path(:query => topic) %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Ask Another Question!</h2>
        <div class="text-center">
          <%= form_tag({controller: "answer", action: "index"}, method: :get, class: "form-inline") do %>
            <%= text_field_tag :query, nil, class: "form-control"  %>
            <%= submit_tag 'Ask', name: nil, class: "btn btn-default" %>
          <% end %>
        </div>
        <br/>
      </div>
    </div>
  </div>

  <div class="col-md-2">
  </div>
</div>
