.row
  .col-sm-6
    %h2 Interests
  .col-sm-6{style: "margin-top: 15px;"}
    = render "add_interest_form"

.interests-container
  - @my_interests.each do |interest|
    .interest{style: "background: url(#{interest.image.url(:medium)}); background-size: cover;"}
      = render "remove_interest_form", interest: interest
      .name
        = link_to interest.name.titleize, answer_path(query: interest.name), class: 'ask-watson'

.row
  .col-sm-6
    %h2 Involvement
  .col-sm-6{style: "margin-top: 15px;"}
    = render "add_involvement_form"

.involvement-container
  - @my_involvements.each do |involvement|
    .involvement{style: "background: url(#{involvement.image.url(:medium)}); background-size: cover;"}
      = render "remove_involvement_form", involvement: involvement
      .name
        = link_to involvement.name.titleize,
          answer_path(query: involvement.name), class: 'ask-watson'

