<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Edit Profile</h3>

      <%= image_tag current_user.avatar.url(:medium) %>
      <%= form_for current_user, url: update_profile_path, html: {class: 'form-horizontal'} do |f| %>
        <%= f.file_field :avatar %>
        <%= f.submit 'Upload avatar', class: 'btn btn-primary' %>
      <% end %>

      <%= simple_form_for current_user, url: update_profile_path,
        html: {class: 'form-horizontal', style: 'margin-top: 1em;'},
        wrapper: :horizontal_form do |f| %>
        <%= f.input :name %>
        <%= f.input :rank, as: :select, collection: ProfileController::RANK %>
        <%= f.input :major, label: "Major(s)" %>
        <%= f.input :minor, label: "Minor(s)" %>
        <%= f.submit 'Save Profile', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
