<div class="container">




<div class="row">
  <div class="col-md-4">
    <h3 class="text-center">Edit Profile</h3>

    <%= image_tag current_user.avatar.url(:medium) %>
    <%= form_for current_user, url: update_profile_path, html: {class: 'form-horizontal'} do |f| %>
      <%= f.file_field :avatar %>
      <%= f.submit 'Upload avatar', class: 'btn btn-primary' %>
    <% end %>

    <%= simple_form_for current_user, url: update_profile_path,
      html: {class: 'form-horizontal', style: 'margin-top: 1em;'},
      wrapper: :horizontal_form do |f| %>
      <%= f.input :rank, as: :select, collection: ProfileController::RANK %>
      <%= f.input :major, label: "Major(s)" %>
      <%= f.input :minor, label: "Minor(s)" %>
      <%= f.submit 'Save Profile', class: 'btn btn-primary' %>
    <% end %>

    <h3>Involvement:</h3>
    <div class="row">
      <div class="col-md-9">
        <p>UG Student Senate</p>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default">Remove</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <p>Club Soccer</p>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default">Remove</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <p>Pre-Med Club</p>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default">Remove</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Add</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
    <h3>Jobs:</h3>
    <div class="row">
      <div class="col-md-9">
        <p>Blackwell Waitress</p>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default">Remove</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <p>Dog Walker</p>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default">Remove</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Add</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
    <div class="row"
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#myInterests" role="tab" data-toggle="tab">My Interests</a></li>
	  <li><a href="#findInterests" role="tab" data-toggle="tab">Find Interests</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane" id="myInterests">
            <div class="row">
	      <div class="col-md-6">
	        <h3>My Interests</h3>
      	      </div>
	      <div class="col-md-6">
	        <button type="button" class="btn btn-default">Connect to Facebook</button>
      	      </div>
	    </div>
            <div class="row">
              <div class="col-md-9">
                <p>Soccer</p>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-default">Remove</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Oceanography</p>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-default">Remove</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Math</p>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-default">Remove</button>
              </div>
            </div>
          </div>
	  <div class="tab-pane" id="findInterests">
            <div class="row">
	      <h3>Find Interests</h3>
	    </div>
	    <div class="row">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Search</button>
                </span>
              </div><!-- /input-group -->
	    </div>
	    <div class="row">
              <div class="col-md-9">
                <p>Birds</p>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-default">Add</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Cats</p>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-default">Add</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Cows</p>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-default">Add</button>
              </div>
            </div>
          </div>
	</div>
    </div>
  </div>
</div>
