.profile-container{"ng-controller" => "AppController as app"}
  .profile-sidebar
    .row
      .col-sm-12
        = image_tag current_user.avatar.url(:medium), class: "profile-pic"

        %h3.text-center
          = current_user.name.blank? ? current_user.email : current_user.name

        %p.text-center
          = current_user.rank.blank? ? 'Rank Unspecified' : current_user.rank
        %p.text-center
          = current_user.major.blank? ? 'No Major' : current_user.major
        %p.text-center
          = current_user.minor.blank? ? 'No Minor' : current_user.minor

    %a{"ng-click" => "app.view='profile'", style: "margin-top: 2em;"} Profile
    %a{"ng-click" => "app.view='recommendations'"} Recommendations
    %a{"ng-click" => "app.view='events'"} Events
    = link_to 'Edit Profile', edit_profile_path

  .profile-content
    %div{"ng-show" => "app.view=='profile'"}
      = render "profile"
    <div ng-show="app.view=='recommendations'">IM A RECOMMENDATION</div>
    %div{"ng-show" => "app.view=='events'"}
      = render "events"

